{% extends "base.html" %}

{% block h1 %}{% block title %}Introduction{% endblock %}{% endblock %}

{% block content %}
<h1>What is PTT?</h1>
<p>PTT (批踢踢) is a terminal-based bulletin board system (BBS) based in Taiwan, which contains over 20,000 discussion boards with more than 1.5 million registered users, and over 10,000 articles are posted everyday.</p>
<h1>What is PTT Corpus</h1>
<p>PTT Corpus is the first interactive interface which exploits PTT data for users to query words, make concordance, compare numbers of positive and negative comments of posts, etc. </p>
{% endblock %}