{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block breadcrumb_wrapper %}{% endblock breadcrumb_wrapper %}
{% block page_header %}{% endblock page_header %}

{% block title %}{% trans "Logged out" %}{% endblock %}
{% block content %}
    <div style="height:300px;">
        <h1 style="text-align:center;margin-top:100px;"> {% trans "Successfully logged out!" %}</h1>
    </div>
{% endblock %}

{% block extra_js %}
    <script language="javascript">
        window.location.href = "{% url 'index' %}"
    </script>
{% endblock extra_js %}
