{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Reset password" %}{% endblock %}
{% block content %}{% blocktrans %}
<p>Forgot your password?<br>
Enter your email in the form below and we'll send you
instructions for creating a new one.</p>{% endblocktrans %}
<form method='post' action=''>{% csrf_token %}
    {{ form.as_p }}
    <p><input class="btn btn-success" type='submit' value="{% trans "Reset password"  %}" /></p>
</form>
{% endblock %}

{% block extra_js %}
<script>
$('#id_email').addClass("form-control")
</script>
{% endblock %}